body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 100%;
  height: 100%;
  gap: 1px;
}

.cell {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 300px;
  height: 300px;
  background-color: white;
}

.caption {
  color: #fff;
  text-align: center;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #f1f1f1;
  font-size: 40px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
  }

  .cell {
    width: 100%;
    height: auto;
  }

  .modal-content {
    width: 80%;
    height: auto;
  }

  .caption {
    font-size: 14px;
  }
}
